<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpeg" class="img-fluid " id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Ingeniero Electromecánico</p>
    </div>
    <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Voluptate dolorem expedita
                eos at doloribus, facere est perspiciatis quos unde
                dignissimos magni vero possimus ullam. Doloribus rerum
                iusto quas numquam doloremque?
            </p>
        </span>
    </div>
</div>