<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85" 
            [radius]="100" 
            [showUnits]="false"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [title]="'html5'"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'green'" 
            [innerStrokeColor]="'blue'" 
            [animation]="true" 
            [animationDuration]="700">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95" 
            [radius]="100" 
            [showUnits]="false"
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [title]="'Java'"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'green'" 
            [innerStrokeColor]="'blue'" 
            [animation]="true" 
            [animationDuration]="700">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
            [percent]="85" 
            [radius]="100" 
            [showUnits]="false"
            [imageSrc]="'../assets/Spring.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [title]="'Spring'"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'green'" 
            [innerStrokeColor]="'blue'" 
            [animation]="true" 
            [animationDuration]="700">
        </circle-progress>
    </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85" 
            [radius]="100" 
            [showUnits]="false"
            [imageSrc]="'../assets/sql.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [title]="'Sql'"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'green'" 
            [innerStrokeColor]="'blue'" 
            [animation]="true" 
            [animationDuration]="700">
        </circle-progress>
    </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
            [percent]="85" 
            [radius]="100" 
            [showUnits]="false"
            [imageSrc]="'../assets/angular.png'"
            [showImage]="true"
            [imageHeight]="150"
            [imageWidth]="230"
            [title]="'Angular'"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'green'" 
            [innerStrokeColor]="'blue'" 
            [animation]="true" 
            [animationDuration]="700">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">    
        <circle-progress
            [percent]="85" 
            [radius]="100" 
            [showUnits]="false"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [title]="'Git'"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'green'" 
            [innerStrokeColor]="'blue'" 
            [animation]="true" 
            [animationDuration]="700">
        </circle-progress>
    </div>
</div>