<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" />
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/ivan200sr"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/IvnAgui44074966"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/ivan_2003sr/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/ivan2003sr"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/ivan.aguilar.54390/"><img src="../../../assets/facebook.png" id="facebook"></a>
        </div>
    </div>
</div>